@using NumberSorter.Shared.Models

@model SortedNumbersViewModel;

@{
    ViewData["Title"] = "Create New List of Sorted Numbers";
}

<h1>@ViewData["Title"]</h1>
<hr />
<form asp-controller="SortedNumbers" asp-action="Create" method="post" class="row">
    <div class="col-md-6">
        <label asp-for="InitialValues" class="control-label">Enter numbers (comma-separated):</label>
        <input asp-for="InitialValues" class="form-control" />
        <span asp-validation-for="InitialValues" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="IsAscending" class="control-label">Select order:</label>
        <select asp-for="IsAscending" class="form-control">
            <option value="True">Ascending</option>
            <option value="False">Descending</option>
        </select>
    </div>
    <div class="col-md-12 my-2">
        <button type="submit" class="btn btn-primary">Sort</button>
        <a asp-action="Index" asp-controller="SortedNumbers" class="btn btn-secondary">Back to List</a>
    </div>
    
</form>