@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to Jonathan's version of the Number Sorter</h1>
    <hr>
    <p>This project allows the user to sort a list of numbers (comma-seperated), record how long it took to sort that list and then stores it within a SQL database.</p>
    <p>The user is also able to see all of the sorted numbers that have been created, and view and delete existing sorted numbers.</p>
    <p>To view all the sorted numbers use the navigation above or click here: <a asp-action="Index" asp-controller="SortedNumbers">Sorted Numbers</a>.</p>
</div>
